/* CSS Variables for easy design adjustment */
:root {
  --text-heading-color: #001125;
  --text-body-color: #003e5f;
  --text-link: var(--text-body-color);
  --text-link-accent: #a1c3d6;
  --text-link-accent-hover: #94c2d1;
  --background: #ddeef7;
}

::selection {
  background: var(--text-body-color);
  color: white;
}
*{
  box-sizing: border-box;
  margin: 0;  
}
.headshot {
  width: 4rem;
  height: 4rem;
  animation: load 0.8s ease-out;
  background: url('../public/headshot.png');
  border-radius: 100%;
}


html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem;
  background: var(--background);
  color: var(--text-body-color);
}

@media screen and (min-device-pixel-ratio: 1.5),
screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.container {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  animation: load 0.8s ease-out;
  margin-bottom: 4rem;
}

.mark {
  background-color: #7A7628
}

h1,
h2,
h3,
h4,
h5,
strong {
  color: var(--text-heading-color) !important;
  animation: load 0.8s ease-out;
}



h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

h2 {
  letter-spacing: -0.024rem;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.4em;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-body-color);
}

p.links {
  display: inline-flex;
}

p.links strong {
  cursor: pointer;
  display: block;
  margin: 0 5px;
  user-select: none;
  pointer-events: all;
  transition: 100ms;
  font-size: 17px;
  margin-bottom: 1.5em;
  margin-top: -2em;
  font-weight:100;
}

p.links:not(strong) {
  pointer-events: none;
  user-select: none;
}
.footer {
  margin-top: 3.5rem;
  font-size: 0.9rem;
  padding-left: auto;
}

a, p.links strong {
  transition: all 0.2s ease;
  color: var(--text-link-color);
  text-decoration: none;
  position: relative;
}
a::after, p.links strong::after {
  position: absolute;
  bottom:0;
  height: 7px;
  transition: 0.2s;
  left:0;
  content: '';
  z-index:-1;
  right:0;
  background: var(--text-link-accent);
}

a:hover::after, p.links strong:hover::after {
  background: var(--text-link-accent-hover);
  height: 9px;
}
a:hover {
  color: var(--text-heading-color);
}

b,
strong,
code {
  font-weight: 600;
}

.toolbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.toolbox>div {
  padding: 10px;
  border-radius:10px;
  display: inline;
}

@keyframes load {
  from {
    opacity: 0;
    transform: translatey(-10px);
  }
}